body {
	background-image: url("./img/moorish-pattern_644416-582.jpg");
	display: flex;
	flex-direction: column;
}

h1 {
	background-color: #88aaff;
	color: #003399;
	text-align: right;
}

a {
	color: #aaaa00;
}

ul {
	background-color: #113388;
}

img {
	width: 400px;
}
